---
import { Image } from '@astrojs/image/components';
import logo from '../../assets/images/DKK.png';
---

<Image width={30} src={logo} alt="DKK logo" /> <span class="self-center ml-2 text-2xl font-extrabold text-gray-900 whitespace-nowrap dark:text-white">  Denmark Kannada Koota</span> 

